/* Here goes your CSS */
h1 {
  color : red;
}

body {
    text-align: center;
    background-image: url("images/cotillons.jpg");
    font-family: 'Varela', sans-serif;
    font-weight: 400;
    color: #B22222;
    font-size: 15px;
    line-height: 1.8em;
}

#profile {
  width: 200px;
  border-radius: 60%;
}

.things{
  width: 100px;
}

.container {
  margin: auto;
  display: flex;
}

.center {
  margin: auto;
}

#amour {
  background-color: white;
  border: 2px solid red;
  margin: 10 auto;
  padding: 5px;
  box-shadow: 10px 10px 30px orange;

}

p {
  font-size: 20px;
}

#dancing_cat1 {
  width: 30%;
  margin-top: 500px;
  margin-left: 30%;

}

#dancing_cat2 {
  width: 30%;
  margin-top: 500px;
  margin-right: 30%;

}


